<h1>プロフィール編集</h1>
<div class="form contents-width">

  <%= form_for @user do |f| %>

    <div class="field">
      <%= f.label :ユーザー名 %>
      <%= f.text_field :username, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :自己紹介 %>
      <%= f.text_field :profile %>
    </div>

    <div class="field">
      <%= f.label :プロフィール画像 %>
      <button type="button" class="btn btn-outline-secondary rounded-pill">
       <%= f.file_field :profile_image_id, accept: 'image/jpeg,image/gif,image/png' %>
      </button>
    </div>

    <div class="actions">
      <%= f.submit "編集する" %>
    </div>
  <% end %>
</div>